
@using Infrastructure.Data.Database
@using Infrastructure.Identity.Models
@using Microsoft.AspNetCore.Identity
@model D3.BlogMvc.Models.AccountModels.LoginModel
@inject SignInManager<AppBlogUser> SignInManager


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link rel="stylesheet" asp-href-include="~/css/all.min.css" />
    <link rel="stylesheet" asp-href-include="~/css/index.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- import CSS -->
    <link rel="stylesheet" href="~/elementUI/index.css">
</head>
<body class="text-center" style="display: flex; justify-content: center; padding: 50px;">
    <div id="app" class="text-center m-3" style="width: 300px;">
        <form class="form-signin" asp-action="NewPageLoginAsync" method="post" asp-route-returnUrl="@ViewData["returnUrl"]">
            <img class="mb-4" data-src="holder.js/72x72?theme=thumb" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            @*<vc:summary />*@<!--验证错误信息-->
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" asp-for="Email" class="form-control" placeholder="Email address" required autofocus  style="margin: 10px 0;">
            <span asp-validation-for="Email" class="text-danger"></span>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" asp-for="Password" class="form-control" placeholder="Password" required style="margin: 10px 0;">
            <span asp-validation-for="Password" class="text-danger"></span>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="true" class="form-check-input" asp-for="RememberMe" style="margin-top: 7px;"><span style="font-size: 15px;">记住我</span>
                </label>
                &nbsp;&nbsp;&nbsp;<label style="font-size: 10px;">
                    <span>还没有账号？<a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@ViewData["returnUrl"]" style="color: #0000ff">点击注册</a></span>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <!--第三方登录-->
        <div class="col-md-12">
            <section>
                <hr />
                @{
                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                    if (loginProviders.Count == 0)
                    { }
                    else
                    {
                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in loginProviders)
                                    {
                                        <button type="submit" class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="正在准备中" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
        <p class="mt-5 mb-3 text-muted">  <span>Copyright</span><span>&copy;</span><span>2018&nbsp;&nbsp;</span><a href="#">阿里布布</a><span>
            &nbsp;&nbsp;Design By
            zyl
        </span></p>

    </div>


    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/axios/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
    <script type="text/javascript" asp-src-include="~/js/all.min.js"></script>
    <script>
        /*
         * 占位图片
         */
        Holder.addTheme('thumb', {
            bg: '#007BFF',
            fg: '#eceeef',
            text: 'BLOG'
        });
    </script>

</body>
</html>
