@using System.Security.Claims
@using Infrastructure.Data.Database
@using Infrastructure.Identity.Models
@using Microsoft.AspNetCore.Identity
@model D3.BlogMvc.Models.AccountModels.LoginModel
@inject UserManager<AppBlogUser> userManager
@inject SignInManager<AppBlogUser> signInManager
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">

    <title>YL-Blog</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/css/home/style.css">
    <link rel="stylesheet" href="~/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/lib/markdown/css/editormd.preview.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/css/posts/posts.css">
    <!-- Font Awesome JS -->
    <script defer src="~/fontawesome-free/js/solid.js"></script>
    <script defer src="~/fontawesome-free/js/fontawesome.min.js"></script>
    <!--[if lt IE 9]><script src="~/lib/html5.min.js"></script><![endif]-->
    <style>
        #post-detail a {
            color: #4285f4;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="50" alt="mdb logo">
            </div>
            <ul id="side-menu" class="list-unstyled components">
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="side-user">
                        <p style="padding-top: 0px;padding-bottom: 0px; padding-left: 20px;">@User.Identity.Name</p>
                        <ul>
                            <li title="个人中心"><i class="far fa-user-circle"></i></li>
                            <li title="草稿"><i class="fas fa-file-alt"></i></li>
                            <li title="我的收藏"><i class="fas fa-star"></i></li>
                            <li title="我的评论"><i class="fas fa-tag"></i></li>
                            <li title="我的通知"><i class="fas fa-bell"></i></li>
                        </ul>
                    </div>


                }
                else
                {
                    <p>Welcome</p>
                }

                <li class="">
                    <a asp-controller="Home" asp-action="HomePage">首页</a>
                </li>
                <li>
                    <a href="#">文章</a>
                </li>
                <li>
                    <a href="#">工具技巧</a>
                </li>
                <li>
                    <a href="#">话题心得</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                @if (User.Identity.IsAuthenticated)
                {
                    <li data-flag="1" style="padding-top: 0;">
                        <a data-flag="1" asp-controller="Account" asp-action="Logout"><i data-flag="1" class="fas fa-sign-out-alt"></i><span data-flag="1" class="faw">退出登录</span></a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="#" class="download" data-toggle="modal" data-target="#Login">登录</a>
                    </li>
                }

                <li>
                    <a href="#" class="article">关于本站</a>
                </li>
            </ul>
        </nav>
        <div class="wrapper">
            <!-- Page Content  -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-white">
                    <div class="container">
                        <a class="" id="sidebarCollapse" style="font-size: 25px;width: 60px;text-align: center;">
                            <i class="fas fa-align-justify"></i>
                        </a>
                        <a class="navbar-brand mylogo" href="#">
                            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo">
                        </a>
                        <ul id="menu" class="nav navbar-nav mr-auto menu">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="HomePage">首页</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">文章</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">工具技巧</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">话题心得</a>
                            </li>
                        </ul>
                        <ul id="useropt" class="nav navbar-nav ml-auto useropt">
                            <li id="write-post" class="nav-item" style="width: 88px;position: relative;">
                                <a class="nav-link" asp-controller="Post" asp-action="WritePost" style="color: #4285F4">
                                    <i class="far fa-file-word"></i>&nbsp;写文章
                                </a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li data-flag="1" id="user-info" style="position: relative">
                                    <a data-flag="1" v-on:click="dropDownOpt($event)" class="nav-link" href="#"><i data-flag="1" class="fa fa-user"></i>&nbsp;&nbsp;@User.Identity.Name&nbsp;&nbsp;<i data-flag="1" class="fa fa-caret-down"></i></a>
                                    <ul data-flag="1" id="usr-opt" class="user-opt-list">
                                        <li data-flag="1">
                                            <a data-flag="1" href="#"><i data-flag="1" class="far fa-user-circle"></i><span data-flag="1" class="faw">我的主页</span></a>
                                        </li>
                                        <li data-flag="1">
                                            <a data-flag="1" href="#"><i data-flag="1" class="fas fa-file-alt"></i><span data-flag="1" class="faw">草稿</span></a>
                                        </li>
                                        <li data-flag="1">
                                            <a data-flag="1" href="#"><i data-flag="1" class="fas fa-star"></i><span data-flag="1" class="faw">我的收藏</span></a>
                                        </li>
                                        <li data-flag="1">
                                            <a data-flag="1" href="#"><i data-flag="1" class="fas fa-tag"></i><span data-flag="1" class="faw">我的评论</span></a>
                                        </li>
                                        <li data-flag="1">
                                            <a data-flag="1" href="#"><i data-flag="1" class="fas fa-bell"></i><span data-flag="1" class="faw">我的通知</span></a>
                                        </li>
                                        @if (User.HasClaim(ClaimTypes.Role, "Admin") || User.HasClaim(ClaimTypes.Role, "admin"))
                                        {
                                            <li data-flag="1">
                                                <a data-flag="1" asp-area="Admin" asp-controller="Admin" asp-action="Index"><i data-flag="1" class="fas fa-cogs"></i><span data-flag="1" class="faw">管理</span></a>
                                            </li>
                                        }
                                        else
                                        { }
                                        <hr data-flag="1" />
                                        <li data-flag="1" style="padding-top: 0;">
                                            <a data-flag="1" asp-controller="Account" asp-action="Logout"><i data-flag="1" class="fas fa-sign-out-alt"></i><span data-flag="1" class="faw">退出登录</span></a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li id="user-login" class="nav-item" style="width: 50px;">
                                    <a class="nav-link" href="#" data-toggle="modal" data-target="#Login">登录</a>
                                </li>
                            }
                            <li data-flag="1" class="nav-item" style="width: 40px;">
                                <a data-flag="1" class="nav-link" href="#" v-on:click="optSearch($event)">
                                    <span data-flag="1" class="fa fa-search" title="搜索"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div data-flag="1" id="search-posts">
                    <form data-flag="1" asp-action="Search" method="post">
                        <input data-flag="1" type="text" placeholder="请输入搜索内容" name="searchtext" id="searchtext" style="line-height: 30px;width: 400px;border: 1px solid lightblue;padding-left:10px" />
                        <button data-flag="1" type="submit" style="line-height: 30px;border: none;background-color: #309dda;width: 60px;border: 1px solid #309dda;">搜索</button>
                    </form>
                </div>
                <div class="container" style="display: flex">
                    <div id="main-content" class="bg-white" style="overflow: hidden; flex-grow: 1;padding-bottom:10px;min-height:900px">
                        <div id="post-owin" class="author-info">
                            <div class="author-img">
                                <a href="#"><img src="holder.js/50x50?theme=headimg" style="border-radius:50px" /></a>
                            </div>
                            <div class="author-name">
                                <a href="#" style="display:block">Admin</a>
                                <span style="color:#cac7c7">2019年01月04日&nbsp;&nbsp;阅读&nbsp;1073</span>
                            </div>
                        </div>
                        <!--帖子详情-->
                        <div id="post-detail">
                            <div class="post-header" style="text-align:center;margin-bottom:15px;">
                                <h1>ASP.NET CORE</h1>
                                <p style="font-size:14px;">
                                    <span>分类：<a id="post-category" href="#">开源框架</a></span>
                                    <span>&nbsp;评论(0)</span>
                                </p>
                            </div>
                            <hr />
                            <div id="post-fullcontent">
                                <p>欢迎使用，请输入内容...</p><div id="title_area"><h1>习近平以创新点燃科技强国引擎</h1><div>央视网2019年01月09日 07:19</div></div><div id="text_area"><div><p><em>联播+</em>&nbsp;1月8日，国家科学技术奖励大会举行。当天的《新闻联播》播出了这样一幕，热烈的掌声中，习近平向获得2018年度国家最高科学技术奖的两位院士颁发奖章、证书，同他们热情握手表示祝贺。这紧紧的一握和真诚的祝贺背后，深蕴着习近平总书记的科技情怀和科技强国梦。</p></div><p>“我国科技发展的方向就是创新、创新、再创新。”党的十八大以来，习总书记就科技强国发表了一系列振奋人心的讲话，“创新”一词频频出现。</p><p>从“科技创新、制度创新要协同发挥作用，两个轮子一起转”到“创新驱动实质上是人才驱动”，习总书记再三强调“科技创新”、“制度创新”、“人才创新”的重要性，激发了更多科技工作者的创新创造热情，为新时代科技事业发展指明方向</p><pre><code>&lt;!DOCTYPE html&gt;<br>&lt;html&gt;<br>    &lt;head&gt;<br>        &lt;mate charest="utf-8" /&gt;<br>        &lt;meta name="keywords" content="Editor.md, Markdown, Editor" /&gt;<br>        &lt;title&gt;Hello world!&lt;/title&gt;<br>        &lt;style type="text/css"&gt;<br>            body{font-size:14px;color:#444;font-family: "Microsoft Yahei", Tahoma, "Hiragino Sans GB", Arial;background:#fff;}<br>            ul{list-style: none;}<br>            img{border:none;vertical-align: middle;}<br>        &lt;/style&gt;<br>    &lt;/head&gt;<br>    &lt;body&gt;<br>        &lt;h1 class="text-xxl"&gt;Hello world!&lt;/h1&gt;<br>        &lt;p class="text-green"&gt;Plain text&lt;/p&gt;<br>    &lt;/body&gt;<br>&lt;/html&gt;</code></pre><p><br></p></div>
                                <!--内容-->
                                <div id="test-editormd">
                                    <textarea style="display: none;"></textarea>
                                </div>
                                <!--end 内容-->
                            </div>


                            <!--评论-->
                            <div id="post-comment" style="margin-top: 15px;">
                                <p>这里时评论区域</p>
                                <p>这里时评论区域</p>
                                <p>这里时评论区域</p>
                                <p>这里时评论区域</p>
                                <p>这里时评论区域</p>
                                <p>这里时评论区域</p>
                            </div>

                        </div>
                    </div>
                    <aside id="aside">
                        <section class="section my-shadow">
                            <div class="title">网站公告</div>
                            <hr />
                            <div class="notice-list">
                                <ul>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                    <li><a href="#">编写技术简历的47条原则</a><span class="notice-date">12-20</span></li>
                                </ul>
                            </div>
                        </section>
                        <div class="section my-shadow" style="padding-bottom: 5px;">
                            <div class="header">
                                <div class="title">
                                    <span>热门标签</span>
                                    <a href="#" target="_blank" rel="" class="tag-link">查看全部</a>
                                </div>
                            </div>
                            <hr />
                            <div class="tag-content">
                                <div class="tag-list">
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">C#(23)</a>
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">ASP.NET(25)</a>
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">MVC(8)</a>
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">GitHub(12)</a>
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">Dotnet Core(45)</a>
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">架构(2)</a>
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">产品(2)</a>
                                    <a href="#" target="_blank" rel="" class="tag ml-auto">职业规划(6)</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>

                <!--页脚-->
                <footer class="footer">
                    <div class="footer-header">
                        <p>
                            <span>Copyright</span><span>&copy;</span><span>2018&nbsp;&nbsp;</span><a href="#">阿里布布</a><span>
                                &nbsp;&nbsp;Design By
                                zyl
                            </span>
                    </div>
                </footer>
            </div>
        </div>


        <!--附带效果html-->
        <div class="overlay"></div><!--侧边菜单覆盖物-->
        <div class="tooltip bs-tooltip-top scroll-to-top" data-placement="left" data-toggle="tooltip" title="回到顶部">
            <!--回到顶部-->
            <i class="far fa-arrow-alt-circle-up fa-2x"></i>
        </div>
        <div class="tooltip bs-tooltip-top feedback" data-placement="left" data-toggle="tooltip" title="建议反馈">
            <!--问题反馈和回到顶部-->
            <i class="far fa-envelope fa-2x"></i>
        </div>
        <!--Modal弹窗登录-->
        <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="width: 300px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">登录到您的账户</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form1" asp-controller="Account" asp-action="LoginAsync" method="post">
                            <div class="form-group">

                                <input type="email" name="email" required="" maxlength="64" minlength="7" placeholder="电子邮件" data-purpose="email" value="" class="form-control user-error" aria-invalid="true" asp-for="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" minlength="6" maxlength="64" class="textinput textInput form-control user-error" placeholder="密码" id="id_password" required="" data-purpose="password" aria-invalid="true" asp-for="Password">
                            </div>
                            <a v-on:click="Login" class="btn btn-default" style="width: 100%;background-color: lightblue">Sign in!</a>
                            <p style="text-align: center; width: 100%; padding: 10px;">或<a href="#" style="text-decoration: none; color: #4285f4;font-size: 14px">&nbsp;忘记密码？</a></p>
                        </form>
                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                            <p style="text-align: center; width: 100%; font-size: 10px;">
                                关联账户登录：
                                @{
                                    var loginProviders = (await signInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                    if (loginProviders.Count == 0)
                                    { }
                                    else
                                    {
                                        foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="" data-toggle="tooltip" data-placement="top" title="正在准备中" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                        }
                                    }
                                }

                            </p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <h5 style="text-align: center; width: 100%;">还没有帐户吗？ <a href="#" style="color: #4285f4">注册</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/vue/polyfill.min.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="~/js/jquery/jquery-3.3.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="~/js/jquery/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/axios/axios.min.js"></script>
    <script src="~/js/vue/vue.js"></script>
    <script src="~/js/holder/holder.min.js"></script>
    <script src="~/lib/markdown/lib/marked.min.js"></script>
    <script src="~/lib/markdown/lib/prettify.min.js"></script>
    <script src="~/lib/markdown/lib/raphael.min.js"></script>
    <script src="~/lib/markdown/lib/underscore.min.js"></script>
    <script src="~/lib/markdown/lib/sequence-diagram.min.js"></script>
    <script src="~/lib/markdown/lib/flowchart.min.js"></script>
    <script src="~/lib/markdown/lib/jquery.flowchart.min.js"></script>
    <script src="~/lib/markdown/editormd.min.js"></script>
    <script src="~/js/posts/posts.js"></script>
    <script>
        //占位
        Holder.addTheme('thumb', {
            bg: '#68217A',
            fg: '#FFFFFF',
            text: 'ASP.NET CORE',
            size: 18,
            font: "Monaco",
            fontweight: "normal"
        });
        Holder.addTheme('headimg', {
            bg: '#68217A',
            fg: '#FFFFFF',
            text: 'zyl',
            font: "Monaco",
            fontweight: "normal"
        });
    </script>

</body>

</html>
