@using System.Security.Claims
@using Infrastructure.Data.Database
@using Infrastructure.Identity.Models
@using Microsoft.AspNetCore.Identity
@using D3.Blog.Domain.Enums
@model Tuple<D3.Blog.Application.ViewModels.Article.NewArticleModel, List<D3.Blog.Application.ViewModels.PostGroup.ShowPostGroupViewModel>>
@inject UserManager<AppBlogUser> userManager
@inject SignInManager<AppBlogUser> signInManager
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">

    <title>@ViewBag.title</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="~/css/home/style.css">
    <link rel="stylesheet" href="~/css/posts/write.css">
    <link rel="stylesheet" href="~/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/lib/markdown/css/editormd.min.css" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/bootstrap-tokenfield/css/bootstrap-tokenfield.min.css">
    <link rel="stylesheet" href="~/bootstrap-tokenfield/css/tokenfield-typeahead.min.css">
    <!--[if lt IE 9]><script src="~/lib/html5.min.js"></script><![endif]-->
    <style>
        * {
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        }
        .tokenfield {
            font-size: 12px;
            padding-left: 3px;
        }
    </style>
</head>
<body>
    <div id="app">
        @await Html.PartialAsync("_sidebarMenu")@*侧边导航*@
        <div class="wrapper">
            <!-- Page Content  -->
            <div id="content">
                @await Html.PartialAsync("_TopNavbarMenu")@*顶部导航*@
                <div data-flag="1" id="search-posts">
                    <form data-flag="1" asp-controller="Home" asp-action="Search" method="post">
                        <input data-flag="1" type="text" placeholder="请输入搜索内容" name="searchtext" id="searchtext" style="line-height: 30px;width: 400px;border: 1px solid lightblue;padding-left:10px" />
                        <button data-flag="1" type="submit" style="line-height: 30px;border: none;background-color: #309dda;width: 60px;border: 1px solid #309dda;">搜索</button>
                    </form>
                </div>
                <div class="container-fluid" style="display: flex; padding: 0 25px;">
                    <div id="write-area">
                        <form id="formPost"  asp-controller="Post" asp-action="WritePost" method="post">
                            <input type="text" name="@nameof(Model.Item1.Title)" id="txtTitle" maxlength="100" placeholder="输入文章标题" asp-for="Item1.Title">
                            <!--富文本编辑器-->
                            <div style="text-align:left;">
                                <div id="divDemo">
                                    <p>欢迎使用，请输入内容...</p>
                                </div>
                            </div>
                            <div id="test-editormd" style="display: none">
                                <textarea style="display: none;"></textarea>
                            </div>
                            <!--富文本编辑器 end-->
                            <input id="articlehtml" name="@nameof(Model.Item1.ContentHtml)" type="hidden" asp-for="Item1.ContentHtml" /><!--文章内容-->
                            <div class="post-info" style="margin-top:25px;font-size:14px;position:relative">
                                <div style="margin: 15px 0;">
                                    <div class="post-tag" style="display: flex;">
                                        <div id="posttag">
                                            <input name="@nameof(Model.Item1.Tags)" asp-for="Item1.Tags" type="text" class="form-control" id="tokenfield" value="" placeholder="输入文章标签" /><span style="font-size: 10px;color: #ccc;">最多5个，每输入一个按回车键添加</span>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin: 15px 0;">
                                    <div class="post-tag" style="display: flex;">
                                        <div id="posttag" style="">
                                             @{
                                                 if (Model.Item2 != null && Model.Item2.Count > 0)
                                                 {
                                                     <select id="sel2" class="article-type" name="@nameof(Model.Item1.GroupId)" asp-for="Item1.GroupId">
                                                         <option value="">文章系列</option>
                                                         @foreach (var pg in Model.Item2)
                                                         {
                                                             <option value="@pg.Id">@pg.GroupName</option>
                                                         }
                                                     </select>
                                                 }
                                             }
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-bottom:25px;display: flex">
                                    <!--取值：var value = $('#sel').val();-->
                                    <select id="sel1" class="article-type" name="@nameof(Model.Item1.BlogType)" asp-for="Item1.BlogType">
                                        <option value="">博客类型</option>
                                        <option value="@ArticleSource.Original">原创</option>
                                        <option value="@ArticleSource.Transport">转载</option>
                                        <option value="@ArticleSource.Translate">翻译</option>
                                    </select>
                                    &nbsp;&nbsp;
                                    <select id="sel2" class="article-type" name="@nameof(Model.Item1.ArticleType)" asp-for="Item1.ArticleType">
                                        <option value="">文章类型</option>
                                        <option value="前端">前端</option>
                                        <option value="后端">后端</option>
                                        <option value="移动开发">移动开发</option>
                                        <option value="编程语言">编程语言</option>
                                        <option value="程序人生">程序人生</option>
                                    </select>
                                    &nbsp;&nbsp;
                                    <input type="text" id="txtUrl" class="form-control" style="width: 350px;" placeholder="请注明转载链接" name="@nameof(Model.Item1.ExternalUrl)" asp-for="Item1.ExternalUrl" v-show="iszz" required="required">
                                    <input type="text" id="txtAuthor" class="form-control" style="width: 250px;" placeholder="请注明原作者" name="@nameof(Model.Item1.Author)" asp-for="Item1.Author" v-show="iszz" required="required">
                                </div>
                                <div style="display: flex">
                                    <button id="publish" type="button" class="btn btn-outline-primary" v-on:click="publish(1,$event)">发布文章</button>&nbsp;
                                    <button id="save" type="button" class="btn btn-outline-secondary" v-on:click="publish(2,$event)">保存为草稿</button>&nbsp;
                                    <button id="preview" type="button" class="btn btn-outline-warning" v-on:click="publish(3,$event)">预览</button>
                                </div>

                            </div>
                        </form>

                    </div>
                </div>

                <!--页脚-->
                <footer class="footer">
                    <div class="footer-header">
                        <p>
                            <span>Copyright</span><span>&copy;</span><span>2018&nbsp;&nbsp;</span><a href="#">阿里布布</a><span>
                                &nbsp;&nbsp;Design By
                                zyl
                            </span>
                    </div>
                </footer>
            </div>
        </div>


        <!--附带效果html-->
        <div class="overlay"></div><!--侧边菜单覆盖物-->
        <div class="tooltip bs-tooltip-top scroll-to-top" data-placement="left" data-toggle="tooltip" title="回到顶部">
            <!--回到顶部-->
            <i class="far fa-arrow-alt-circle-up fa-2x"></i>
        </div>
        <div class="tooltip bs-tooltip-top feedback" data-placement="left" data-toggle="tooltip" title="建议反馈">
            <!--问题反馈和回到顶部-->
            <i class="far fa-envelope fa-2x"></i>
        </div>
    </div>
    <script src="~/js/vue/polyfill.min.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="~/js/jquery/jquery-3.3.1.min.js"></script>
    <!-- Popper.JS -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!--bootstrap 下拉框-->
    <script src="~/js/bootstrap/bootstrap-select.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="~/js/jquery/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/axios/axios.min.js"></script>
    <!--富文本编辑器-->
    <script src="~/wangEditor-3.1.1/wangEditor.min.js"></script>
    <!--tag 输入框-->
    <script src="~/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
    <script src="~/js/vue/vue.js"></script>
    <script src="~/js/holder/holder.min.js"></script>
    <script src="~/lib/markdown/editormd.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/posts/writepost.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>
